$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$react-dates-color-primary: transparent !default;
$react-dates-color-primary-shade-1: transparent !default;
$react-dates-color-primary-shade-2: transparent !default;
$react-dates-color-primary-shade-3: transparent !default;
$react-dates-color-primary-shade-4: transparent !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #007a87 !default;
$react-dates-color-focus: #99ede6 !default;

$react-dates-z-index: 0 !default;

$width: 318px;
$height: 150px;
$innerWidth: 92%;
$boxShadow: 0 0 10px 1px rgba(85, 99, 116, 0.3);
$gutter: 16px;
$headerSize: 245px;
$headerWidth: 600px;

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';
@import './range.scss';
@import './default.scss';

.DatePicker {
  font-family: 'Uni Neue';
  position: relative;
}

.DayPicker--horizontal {
  overflow: hidden;
}

.DayPickerNavigation--horizontal {
  height: $height;
  background-image: linear-gradient(
    -145deg,
    rgba(104, 181, 193, 0.4),
    #3ed2a4
  );
  position: unset !important;
  z-index: 10 !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 0.1em;
  background-color: #3ed2a4 !important;

  svg {
    fill: #fff;
    font-size: 2.2em;
  }
}


.DayPickerNavigation__prev,
.DayPickerNavigation__next {
  margin: 0 !important;
  padding: 0 !important;
  position: unset !important;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  border: none !important;
  background-color: unset !important;
}

.DateInput--with-caret:after,
.DateInput--with-caret:before {
  display: none;
}

.DayPicker__week-header {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #3ed2a4;
  top: 0;
  left: 0.5em;
  padding: 0;
  transform: translate(0, $height + 5);
  z-index: 15 !important;

  small {
    font-size: 0.9em;
    font-weight: 600;
  }

  li {
    transform: translate(0.8em, 0)
  }
}

.CalendarDay--selected {
  background-image: linear-gradient(
    132deg,
    #fc9568 12%,
    #ff857a
  ) !important;
  border: none !important;
}

.CalendarDay--hovered-span {
  background-color: rgba(252, 149, 104, 0.2);
  color: #434343;
}

.CalendarDay--selected-span {
  background-color: rgba(252, 149, 104, 0.2);
  color: #434343;
}

.CalendarDay--selected-start,
.CalendarDay--selected-end,
.CalendarDay--hovered,
.CalendarDay--selected {
  background-color: none !important;
}

.transition-container {
  overflow: unset;
}

.CalendarDay--selected-start,
.CalendarDay--selected-end {
  background-image: linear-gradient(
    132deg,
    #fc9568 12%,
    #ff857a
  ) !important;
  color: #fff;
  position: relative;
  color: #fff !important;

  button {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0.7em;
      border: none;
      border-style: solid;
      border-left-width: 0.5em;
      border-left-color: transparent;
      border-right-width: 0.5em;
      border-right-color: transparent;
      border-top-width: 0.5em;
      border-top-color: transparent;
      border-bottom-width: 0.5em;
      border-bottom-color: transparent;
      height: 0;
      width: 0;
    }
  }
}

.CalendarMonth__caption {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: silver;

  padding: unset !important;
  z-index: 20;
  position: relative;
  width: $innerWidth;
  transform: translate(0.8em, -50px);
  color: #fff;

  strong {
    font-weight: 600;
    text-transform: lowercase;
  }
}

.CalendarMonth--horizontal {
  padding-top: 16px;
}

.DayPickerNavigation__prev,
.DayPickerNavigation__next {
  border: none;
  background: transparent;
  height: 2em;
  margin-bottom: 1em !important;
}

.DatePicker_confirmation {
  display: flex;
  justify-content: flex-end;
}

.DatePicker_confirmation__button {
  border: none;
  background: none;
  color: #3ed2a4;
  cursor: pointer;
  padding: 0.5em 1em;
}

.CalendarMonthGrid {
  background-color: transparent;
}

.CalendarDay--selected-start button:after {
  display: none;
}

.CalendarDay--selected-start button:before {
  right: -1em;
  border-left-color: #ff857a;
}

.CalendarDay--selected-end button:before {
  right: unset;
  left: -1em;
  border-right-color: #ff857a;
}

.CalendarDay {
  width: 44px;
  height: 44px;
  border: none;
}

.CalendarDay--blocked-calendar {
  background-color: unset;
}

.CalendarDay--blocked-calendar,
.CalendarDay--blocked-out-of-range {
  &.CalendarDay--hovered,
  &.CalendarDay--blocked {
    background-image: unset !important;
    color: rgba(94, 94, 94, 0.5) !important;
  }
}

.CalendarDay--hovered {
  background-image: linear-gradient(
    132deg,
    #fc9568 12%,
    #ff857a
  ) !important;
  color: #fff !important;
  border: none !important;
  border-color: transparent !important;
}

.DatePicker__pane {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #fff;
  top: 50px;
  width: $width;
  height: $height - 45;
}

.DatePicker_confirmation__ {
  padding-right: 1em;
  transform: translate(0, -0.5em);
  position: relative;
  z-index: 10;
}

.Datepicker__ShowDate {
  width: $innerWidth;
  color: #fff;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #fff;
  font-weight: 600;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-transform: lowercase;
}

.Datepicker__ShowDate_year {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
}

.Datepicker__ShowDate_year_block {
  padding: 0.2em 0.5em;
  border-top: 1px solid #34af89;
  border-bottom: 1px solid #34af89;
  cursor: pointer;
  position: relative;

  svg {
    margin-left: 5px;
  }
}

.Datepicker__ShowDate_year_block::selection {
  color: #fff;
}

.Datepicker__ShowDate_day,
.Datepicker__ShowDate_week {
  font-size: 1.7em;
}

.Datepicker__ShowDate_period {
  background: #34af89;
  padding: 0.2em 0.4em;
  margin-right: 0.4em;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: -20px;
    border: 10px solid #34af89;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
}

.Datepicker__ShowDate_period.end {
  background: #46aa99;

  &:before {
    border-left-color: #46aa99;
  }
}

.SingleDatePicker__picker {
  top: unset !important;
  width: $width;
}

.DateRangePicker__picker {
  top: unset !important;
}

.Datepicker__year {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  opacity: 0;
}

