@import "./properties.css";

.grid,
.grid * {
  box-sizing: border-box;
}

.grid {
  width: 100%;
}

.grid > div {
  display: flex;
  width: 100%;
  margin-top: var(--grid-row-spacing);
}

.grid > div:last-child {
  margin-top: unset;
}

.row > div {
  margin-left: var(--grid-column-spacing);
}

.row > div:first-child {
  margin-left: unset;
}

@each $type in desk, tv, tablet {
  @each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-$(type)-$(size) {
      width: calc(100% / (13 - $(size)));
    }
  }
}

@media (--grid-media-tv) {
  .grid {
    background-color: blue;
  }
}

@media (--grid-media-desktop) {
  .grid {
    background-color: red;
  }
}

@media (--grid-media-tablet) {
  .grid {
    background-color: yellow;
  }
}

@media (--grid-media-smartphone) {
  .grid {
    background-color: green;
  }
}
